section{
  margin-top: 90px;
  margin-bottom: 128px;
}
section .container{
  display: flex;
  justify-content: space-between;
}
.rightSide{
  width: 49%;
}
.leftSide{
  width: 47%;
}
.leftSide h2{
  line-height: 64px;
  color: #1d3444;
  margin-top: 0;
  margin-bottom: 24px;
}
.leftSide p{
  font-size: 18px;
  line-height: 30px;
  color: #5B5B5B;
  margin-top: 0;
  margin-bottom: 64px;
}
input{
  font-family: "Inter";
  width: 100%;
  border-radius: 27px;
  border: none;
  background: rgba(210, 218, 237, 0.17);
  padding: 18px 32px;
  margin-top: 0;
  margin-bottom: 16px;
}
::placeholder{
  font-family: "Inter";
  line-height: 19px;
  color: #9C9C9C;
  font-size: 16px;
}
.longInput{
  font-family: "Inter";
  width: 100%;
  height: 160px;
  border-radius: 27px;
  border: none;
  background: rgba(210, 218, 237, 0.17);
  padding: 29px 0 167px 32px;
  margin-top: 0;
  margin-bottom: 32px;
}
.submit{
  width: 21%;
  padding: 18px 32px;
  border: none;
  background: #F58A07;
  color: white;
  border-radius: 31px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  text-transform: capitalize;
  margin: 0;
}
.rightSideTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-top: 0;
  margin-bottom: 79px;
}
.location{
  width: 50%;
}
.contact{
  width: 40%;
}
.rightSideTop h3{
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #0D1317;
  margin-top: 0;
  margin-bottom: 16px;
}
.rightSideTop p{
  font-size: 18px;
  line-height: 30px;
  color: #5B5B5B;
  margin: 0;
}
.map{
  background: url(../images/map.png);
  background-size: cover;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  background-position: center;
}
footer input{
  background-color: white;
}