* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: white;
  margin: 0;
}

header .container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: whitesmoke;
}

header h2 {
  color: #063255;
  font-size: 28px;
  font-weight: 600;
}

header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

header ul li a {
  text-decoration: none;
  color: #394149;
  font-size: 16px;
}

header ul {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.button {
  text-align: center;
  background: rgba(245, 138, 7, 0.1);
  border-radius: 31px;
  padding: 10px 20px;
}

.button a {
  color: #F58A07;
  text-decoration: none;
  border-radius: 31px;
  width: 100px;
  padding: 5px 10px;
}

.intro {
  background: #DCEAF5;
}

.intro .container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro h1{
  color: #1D3444;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
  margin: 0;
}
.introLeftSide{
  width: 50%;
}
.introBigP{
  color: #5B5B5B;
  font-size: 18px;
  line-height: 30px;
}
.serviceButton{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}
.serviceButton a{
  text-decoration: none;
}
.leftButton a{
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #F58A07;
  border-radius: 27px;
  padding: 15px 35px;
}
.rightButton a{
  color: #1d3444;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
}
.introSmallP{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(57, 65, 73, 0.5);
}
.introLeftSide img{
  margin-right: 38px;
}
.introRightSide{
  margin-bottom: -6px;
}