* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: white;
  margin: 0;
}
.container{
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
header .container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: whitesmoke;
}

header h2 {
  color: #063255;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

header ul li a {
  text-decoration: none;
  color: #394149;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

header ul {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.button {
  text-align: center;
  background: rgba(245, 138, 7, 0.1);
  border-radius: 31px;
  padding: 10px 20px;
}

.button a {
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  color: #F58A07;
  text-decoration: none;
  border-radius: 31px;
  width: 100px;
  padding: 5px 10px;
}

.intro {
  background: #DCEAF5;
}

.intro .container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro h1{
  color: #1D3444;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 12px;
}
.introLeftSide{
  width: 48%;
}
.introBigP{
  color: #5B5B5B;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 32px;
}
.serviceButton{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 56px;
}
.serviceButton a{
  text-decoration: none;
}
.leftButton a{
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #F58A07;
  border-radius: 27px;
  padding: 18px 32px;
}
.rightButton a{
  color: #1d3444;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
}
.introSmallP{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(57, 65, 73, 0.5);
  margin-top: 0;
  margin-bottom: 18px;
}
.introLeftSide img{
  margin-right: 38px;
}
.introRightSide{
  margin-bottom: -6px;
  width: 52%;
}
.introRightSide img{
  width: 100%;
}
.second{
  padding: 96px 0;
}
.secondTop h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #1d3444;
  margin-top: 0;
  margin-bottom: 27px;
}
.secondTop p{
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #5B5B5B;
  width: 100%;
}
.secondTop{
  width: 60%;
}
.secondBottom{
  display: flex;
  justify-content: space-between;
}
.secondBottom div{
  width: 31%;
}
.second img{
  width: 100%;
  border-radius: 20px;
}
.secondBottom h2{
  font-size: 24px;
  font-weight: 500;
  line-height: 106.5%;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-top: 33px;
  margin-bottom: 17px;
}
.secondBottom p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #5B5B5B;
  margin-top: 0;
  margin-bottom: 24px;
}
.secondBottom a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 106.5%;
  color: #F58A07;
  margin-top: 0;
}
.secondBottom a::after{
  content: "\2192";
  color: #F58A07;
  margin-left: 8px;
  font-size: 24px;
  font-weight: 600;
}
.third{
  background: #EDF7FF;
}
.thirdTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thirdBottom{
  display: flex;
  justify-content: space-between;
}
.thirdBottom div{
  width: 31%;
  background: white;
}