* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  font-family: "Poppins";
  background: #FFFFFF;
  margin: 0;
}
.container{
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}