.intro {
  background: #DCEAF5;
}

.intro .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro h1{
  color: #1D3444;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 12px;
}
.introLeftSide{
  width: 48%;
}
.introBigP{
  color: #5B5B5B;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 32px;
}
.serviceButton{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 56px;
}
.serviceButton a{
  text-decoration: none;
}
.leftButton a{
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #F58A07;
  border-radius: 27px;
  padding: 18px 32px;
}
.rightButton a{
  color: #1d3444;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
}
.introSmallP{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(57, 65, 73, 0.5);
  margin-top: 0;
  margin-bottom: 18px;
}
.introLeftSide img{
  margin-right: 38px;
}
.introRightSide{
  margin-bottom: -6px;
  width: 52%;
}
.introRightSide img{
  width: 100%;
}
.second{
  padding: 96px 0;
}
.secondTop h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #1d3444;
  margin-top: 0;
  margin-bottom: 27px;
}
.secondTop p{
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #5B5B5B;
  width: 100%;
}
.secondTop{
  width: 60%;
}
.secondBottom{
  display: flex;
  justify-content: space-between;
}
.secondBottom div{
  width: 31%;
}
.second img{
  width: 100%;
  border-radius: 20px;
}
.secondBottom h2{
  font-size: 24px;
  font-weight: 500;
  line-height: 106.5%;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-top: 33px;
  margin-bottom: 17px;
}
.secondBottom p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #5B5B5B;
  margin-top: 0;
  margin-bottom: 24px;
}
.secondBottom a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 106.5%;
  color: #F58A07;
  margin-top: 0;
}
.secondBottom a::after{
  content: "\2192";
  color: #F58A07;
  margin-left: 8px;
  font-size: 24px;
  font-weight: 600;
}
.third{
  background: #EDF7FF;
  padding: 96px 0;
}
.thirdTop{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 0;
  margin-bottom: 64px;
}
.thirdTop h2{
  width: 49%;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin: 0;
}
.thirdTop p{
  width: 49%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #1d3444;
  margin: 0;
}
.thirdBottom{
  display: flex;
  justify-content: space-between;
}
.thirdBottom div{
  width: 31%;
  background: white;
  border-radius: 20px;
  padding: 40px 26px 37px 39px;
}
.thirdBottom div h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-top: 32px;
  margin-bottom: 16px;
}
.thirdBottom div p{
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #5B5B5B;
  margin: 0;
}
.fourth{
  padding: 88px 0;
}
.fourth .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fourthLeftSide{
  width: 47%;
}
.fourthLeftSideTop h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-top: 0;
  margin-bottom: 32px;
}
.fourthLeftSideTop p{
  width: 85%;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5B5B5B;
  margin-top: 0;
  margin-bottom: 48px;
}
.fourthLeftSideBottom{
  display: flex;
  justify-content: space-between;
  width: 94%;
}
.fourthLeftSideBottom div{
  width: 49%;
}
.fourthLeftSideBottom h1{
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #F58A07;
  margin-top: 0;
  margin-bottom: 16px;
}
.fourthLeftSideBottom h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-top: 0;
  margin-bottom: 16px;
}
.fourthLeftSideBottom p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #5B5B5B;
}
.fourthRightSide{
  background: url(../images/about-image.png);
  background-size: cover;
  width: 49%;
  height: 670px;
  border-radius: 20px;
}
.fourthRightSide .imageBg{
  background: #F58A07;
  height: 100%;
  width: 25%;
  mix-blend-mode: multiply;
  border-radius: 20px 0 0 20px;
}
.fifth .container{
  background: #EDF7FF;
  padding: 48px 42px 48px 48px;
  border-radius: 20px;
  margin-top: 0;
  margin-bottom: 128px;
  position: relative;
}
.fifthCorner{
  position: absolute;
  right: -15px;
  top: -15px;
}
.fifthTop{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 0;
  margin-bottom: 80px;
}
.fifthTop div{
  border: 1px solid #A8BCCC;
  border-radius: 31px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  color: rgba(6, 50, 85, 0.3);
}
.fifthTop div:first-child{
  border: none;
  background: white;
  color: #F58A07;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.fifthBottom{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.fifthBottomLeft{
  width: 45%;
}
.fifthBottomLeft h1{
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-top: 0;
  margin-bottom: 25px;
}
.fifthBottomLeft p{
  width: 96%;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5B5B5B;
  margin-top: 0;
  margin-bottom: 40px;
}
.fifthBottomLeft a{
  text-decoration: none;
  color: #F58A07;
  font-size: 16px;
  font-weight: 500;
  line-height: 106.5%;
  margin: 0;
}
.fifthBottomLeft a::after{
  content: "\2192";
  color: #F58A07;
  font-size: 24px;
  font-weight: 600;
  margin-left: 8px;
}
.fifthBottomRight{
  background: url(../images/team.png);
  background-size: cover;
  width: 40%;
  height: 468px;
  border-radius: 20px;
}
.fifthBottomRight .imageBg{
  background: #F58A07;
  height: 100%;
  width: 25%;
  mix-blend-mode: multiply;
  border-radius: 20px 0 0 20px;
}
.sixth{
  width: 100%;
  height: 518px;
  display: flex;
  margin-top: 0;
  margin-bottom: 128px;
}
.sixthLeft{
  background: url(../images/experience-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 518px;
}
.sixthRight{
  width: 50%;
  background: #F58A07;
  padding: 128px;
  padding-right: 300px;
}
.sixthRight h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
}
.sixthRight a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  color: #F58A07;
  background: white;
  margin: 0;
  border-radius: 31px;
  padding: 18px 32px;
}
.seventh .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 128px;
}
.seventhRight{
  background: url(../images/video-image.png);
  width: 48%;
  height: 501px;
  border-radius: 20px;
}
.seventhRight .seventhRightVideo{
  height: 100%;
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 40px;
  padding-left: 40px;
}
.seventhRight .seventhRightBg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  width: 51px;
  background: white;
  border-radius: 50%;
}
.seventhRight img{
  width: 17px;
  height: 17px;
}
.seventhRight p{
  font-size: 18px;
  font-weight: 600;
  line-height: 101.8%;
  text-transform: capitalize;
  color: #ffffff;
}
.seventhLeft{
  width: 48%;
}
.seventhLeft h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #0d1317;
  margin-top: 0;
  margin-bottom: 24px;
}
.seventhLeft p{
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5B5B5B;
  margin-top: 0;
  margin-bottom: 40px;
}
.seventhLeftBottom{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seventhLeftBottom h2{
  font-size: 24px;
  font-weight: 500;
  line-height: 171%;
  color: #063255;
  margin: 0;
}
.seventhLeftBottom p{
  font-size: 18px;
  font-weight: 500;
  line-height: 171%;
  color: #F58A07;
  margin: 0;
}
.seventhLeftBottom img{
  height: 80px;
  width: 80px;
}
.eight{
  background: #DCEAF5;
  padding: 96px 0;
}
.eight h1{
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #0d1317;
  margin-top: 0;
  margin-bottom: 64px;
}
.eightBottom{
  display: flex;
  justify-content: space-between;
}
.eightBottom .eightSection{
  background: white;
  width: 31%;
  border-radius: 20px;
}
.eightBottom img{
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin: 0;
}
.eightBottom .eightSection div{
  padding: 32px;
  width: 100%;
}
.eightBottom h2{
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-top: 0;
  margin-bottom: 16px;
}
.eightBottom p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #5B5B5B;
  margin-top: 0;
  margin-bottom: 24px;
}
.eightBottom a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 106.5%;
  color: #F58A07;
  margin: 0;
}
.eightBottom a::after{
  content: "\2192";
  color: #F58A07;
  margin-left: 8px;
  font-size: 24px;
  font-weight: 500;
}
footer{
  background: #063255;
  color: white;
  padding: 80px 0;
  position: relative;
}
footer a{
  text-decoration: none;
  color: white;
}
footer .container{
  display: flex;
  justify-content: space-between;
}
.firstRow{
  width: 33%;
}
.firstRow img{
  width: 18px;
  height: 18px;
}
.firstRow h1{
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: white;
  margin-top: 0;
  margin-bottom: 32px;
}
.firstRow h2{
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 32px;
}
.firstRow p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}
.footerImg{
  width: 31%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 80px;
}
.secondRow{
  display: flex;
  justify-content: space-between;
  width: 33%;
}
.secondRowFirst{
  width: 30%;
}
.secondRowFirst h3{
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 24px;
}
.secondRow ul{
  padding: 0;
  list-style: none;
}
.secondRow ul li{
  margin-top: 0;
  margin-bottom: 16px;
}
.secondRowSecond{
  width: 55%;
}
.secondRowSecond h3{
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 26px;
}
.secondRowSecond p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
}
.fourthRow{
  width: 26%;
}
.fourthRow h3{
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 24px;
}
.fourthRow input{
  width: 100%;
  border-radius: 31px;
  padding: 17px 32px;
  border: none;
  margin-top: 0;
  margin-bottom: 33px;
}
::placeholder{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #9C9C9C;
}
.fourthRow a{
  background: #F58A07;
  border-radius: 31px;
  padding: 17px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 106.5%;
  text-transform: capitalize;
  color: #ffffff;
}
.fourthRowBottom{
  display: flex;
  justify-content: end;
  justify-content: space-around;
  margin-top: 104px;
  margin-bottom: 0;
}
.fourthRowBottom p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}
.firstBox{
  height: 144px;
  width: 53px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F58A07;
  border-radius: 0 20px 0 0;
}
.secondBox{
  height: 287px;
  width: 53px;
  position: absolute;
  right: 0;
  top: 38px;
  background: #F58A07;
  border-radius: 20px 0 0 20px;
}